<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th> # </th>
      <th>Name</th>
      <th>Surname</th>
      <th>Person code</th>
      <th>Level</th>
      <th>E-mail</th>
      <th>Phone number</th>
      <th>Card ID</th>
    </tr>
  </thead>

  <tbody>
      <% @users.each_with_index do |user, index| %>
        <tr>
          <td >  <%= link_to "#{index+1}", user, class: "btn btn-default" %> </td>
          <td >  <%= user.name %> </td>
          <td >  <%= user.surname %> </td>
          <td >  <%= user.person_code %> </td>
          <td >  <%= user.level %> </td>
          <td >  <%= user.email %> </td>
          <td >  <%= user.phone %> </td>
          <td >  <%= user.card_id %> </td>
        </tr>
      <% end %>
  </tbody>
</table>
