<table class="table table-bordered table-condensed tablesorter">
  <thead>
    <tr>
      <% if admin_login? %>
        <th>Surname</th>
      <% end %>
      <th>Action</th>
      <th>Reason</th>
      <th>Diff</th>
      <th>Opened</th>
      <th>Closed</th>
    </tr>
  </thead>

  <tbody>
      <% @logs.each do |log| %>
        <tr>
          <% if admin_login? %>
            <td> <%= link_to User.find(log.user_id).surname, user_path(log.user_id) %> </td>
          <% end %>
          <td>  <%= log.action == 1 ? 'Allow' : 'Deny' %> </td>
          <td>  <%= log.reason %> </td>
        <% if log.timeclose != nil %>
          <td> <%= log.timeclose - log.timeopen %> </td>
        <% else %>
          <td> <%= log.timeopen - log.timeopen %> </td>
        <% end %>
          <td>  <%= log.timeopen %> </td>
          <td>  <%= log.timeclose %> </td>
        </tr>
      <% end %>
  </tbody>
</table>
