<% provide_category_name(params[:cat]) %>

<% if params[:cat] == '0' %>
<h2>Ieteikumi</h2>
<h4><%= link_to "Pievienot jaunu ierakstu", new_box_item_path(cat: 0) %></h4>
<% else %>
<h2>Problēmas</h2>
<h4><%= link_to "Pievienot jaunu ierakstu", new_box_item_path(cat: 1) %></h4>
<% end %>

<% @box_items.each do |box_item| %>
  <li>
    <%= link_to box_item.title, box_item_path(box_item, cat: params[:cat]) %>
    <i>
      <%= box_item.created_at.to_s[0..10] %>
    </i>
    <% if admin_login? %>
      <%= link_to "delete", box_item, method: :delete,
                                     data: { confirm: "You sure?" } %>
      <%= link_to "edit"  , edit_box_item_path(box_item, cat: params[:cat]) %>
    <% end %>
    <%= simple_format(box_item.content) %>
  </li>
<% end %>